.IntroStart{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.PortDTitle{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: justify;
}
.PortDName{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
}