.IntroStart{
    margin-top: 1px;
    margin-bottom: 1rem;
}
.TitleTopic{
    text-align: center;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #1500ff9b;
    text-decoration: underline;
}
.PortDTitle{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000;
    text-align: center;
    padding-top: 15px;
}
.PortDSub{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.DevImg{
    height: 300px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.awardTitle{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}
.awardDetails{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: justify;
}
.ProjectTitle{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center; 
}
.ProjectDescription{
    font-size: 15px;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;

}
.ProjectImg{
    height: 300px;
    width: 100%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    
}
.ProjectButton{
    font-weight: 300;
    padding: 5px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
    background: #051b35 !important;
}
.Project{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 15px;
}
.Intro{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 15px;
}
.Achivment{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 15px;
}
